.bigContainerRegistration {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.registrationFormContainer input {
  border-bottom: 2px solid black;
  border-radius: 8px;
  height: 50px;
}
.bigContainerRegistration p {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 34px;
  font-weight: bold;
}
.registrationFormContainer form {
  width: 330px;
}
.requiredFieldsText p {
  font-size: 18px;
}
.logoRegistration {
  position: absolute;
  top: 190px;
  right: 40px;
}
